﻿<%@ Import Namespace="Eproc2.Core.Common.Interfaces" %>
<%@ Import Namespace="System.Threading" %>

<%@ Master Language="C#" AutoEventWireup="true" Inherits="Eproc2.Web.Masters.Base" %>

<%@ Register Src="~/Controls/BM/SystemMenu.ascx" TagName="SystemMenu" TagPrefix="bm" %>
<%@ Register Src="~/Controls/BM/UserMenu.ascx" TagName="UserMenu" TagPrefix="bm" %>
<%@ Register Src="~/Controls/BM/BVSelector.ascx" TagName="BVSelector" TagPrefix="bm" %>
<%@ Register Src="~/Controls/BM/BVSelectorPopup.ascx" TagName="BVSelectorPopup" TagPrefix="bm" %>
<%@ Register Src="~/Controls/Core/Breadcrumb.ascx" TagName="Breadcrumb" TagPrefix="ewc" %>
<%@ Register Src="~/Controls/Core/PopupProcessing.ascx" TagName="PopupProcessing" TagPrefix="ewc" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="mHead" runat="server">
    <title><%= Resources.BM_SR.Industry%></title>
</head>
<body>
    <form id="container" runat="server">
        <asp:ScriptManager ID="mainScriptManager" EnablePageMethods="true" runat="server">
            <Scripts>
                <%--<asp:ScriptReference Path="~/Scripts/jquery-1.3.2.min.js" />
                <asp:ScriptReference Path="~/Scripts/jquery.corners.js" /> -- maybe replace with jquery.Corner??
                <asp:ScriptReference Path="~/Scripts/jquery.checkbox.min.js" />
                <asp:ScriptReference Path="~/Scripts/jquery.calendar.js" />
                <asp:ScriptReference Path="~/Scripts/jquery.limit-1.2.source.js" /> -- is it needed??
                --%>
                <asp:ScriptReference Path="~/Scripts/jquery-1.11.0.min.js" />
                <asp:ScriptReference Path="~/Scripts/jquery-ui-1.10.4.min.js" />
                <asp:ScriptReference Path="~/Scripts/jquery-migrate-1.2.1.js" />
                <asp:ScriptReference Path="~/Scripts/jquery.corners.js"/> 
                <asp:ScriptReference Path="~/Scripts/jquery.checkbox.min.js" />
                <asp:ScriptReference Path="~/Scripts/jquery.limit-1.2.source.js" />
                <asp:ScriptReference Path="~/Scripts/json3.min.js" />
                <asp:ScriptReference Path="~/Scripts/Resizing.js" />
                <asp:ScriptReference Path="~/Scripts/qTip2/jquery.qtip.min.js" />
            </Scripts>
        </asp:ScriptManager>

        <script type="text/javascript">
            jQuery.fn.onPartialDocumentReady = function (action) {
                $(document).ready(function () {
                    onDocumentReady(action);
                });
            };

            $(this).onPartialDocumentReady(roundCorners);
        </script>
        <script type="text/javascript">
            jQuery(function ($) {
                $("select option").each(function () {
                    $(this).attr({ 'title': $(this).html() });
                });
            });
        </script>
        <div class="headerBar">
            <div class="lSidebar">
                <div class="vwLogo">
                    <%--<asp:Image ID="imgLogo" runat="server" DescriptionUrl="~/Images/S4S-logo.gif" />--%>
                </div>
                <%--<asp:Image ID="imgLogo" runat="server" SkinID="logo" />--%>
            </div>
            <div class="rSidebar">
                


                <div class="headerPanel">
                    <%if (Thread.CurrentPrincipal is IUserPrincipal)
                      {%>
                    
                    <div class="js-logonBtn logonBtn">
                        <asp:Literal ID="lblHello" runat="server" Text="<%$ Resources:BM_SR,Hello %>" />
                    </div>
                    <div class="logonPanel">

                        <div class="userMenu">
                            <asp:HyperLink ID="hlCurrentUser" runat="server" />
                            <bm:UserMenu ID="ucUserMenu" runat="server" />
                        </div>
                        <div class="bvSelector">
                            <bm:BVSelector ID="ucBVSelector" runat="server" />
                        </div>

                    </div>


                    <%} %>
                    <div class="bmSysMenu">
                        <bm:SystemMenu ID="ucSystemMenu" runat="server" />
                    </div>

                </div>




                <div class="breadcrumb">
                    <ewc:Breadcrumb ID="ucBreadcrumb" runat="server" />
                </div>





            </div>
        </div>
        <div class="clear">
            &nbsp
        </div>
        <div class="sysInfo">
            &nbsp;
        </div>
        <div class="clear">
            &nbsp;
        </div>
        <bm:BVSelectorPopup runat="server" ID="bvSelectorPopup" />
        <asp:ContentPlaceHolder ID="cphMainContent" runat="server" />
        <div class="clear">
            &nbsp;
        </div>
        <div class="footer">
            <ewc:PopupProcessing ID="popupProcessing" runat="server"></ewc:PopupProcessing>
            <asp:LinkButton ID="hlTermsOfUse" runat="server" Text="<%$ Resources:SR,TermsOfUse %>" />
            <asp:Label ID="lblPoweredBy" runat="server" Text="<%$ Resources:SR,PoweredBy %>" />
            <asp:HyperLink ID="hrlCompany" CssClass="company" runat="server" Text="<%$ Resources:SR,Valueworks %>"></asp:HyperLink>
        </div>
    </form>
    <script>
       
        // Adjust DOM
            if ( $('.navPanel').children().length === 0 ) {
                 $('.navPanel').hide();
            }

            $('.navPanel > div > div > table').addClass('topLevelNavPanel');

            // Remove the <td> with images in them and empty divs
            $('.navPanel').find('img').closest('td').hide();
            $('.navPanel').find('div:empty').closest('td').hide();

            // If the tree is already expanded then add the 'selected' class to the table that the event is clicked from
            $('.navPanel div:visible').prev('table.topLevelNavPanel').addClass('selected');

            // Removing junk from fly out menu
            $('.userMenu').each(function() {
                var $this = $(this);
                $this.html($this.html().replace(/&nbsp;/g, ''));
            });

            $('.userMenu').each(function() {
                var $this = $(this);
                $this.html($this.html().replace('|', ''));
            });


            // Prepend Title for Individuals
            $('.navPanel .autocomplete').prepend('<h2 class="auto-title">Search for individuals</h2>');

            // Clone table header
            $('tr.header').clone().prependTo('.GridEx').addClass('clonedHeader').hide();


        // Bind events
            $('.topLevelNavPanel td').on('click', function(){
                $(this).parents('.topLevelNavPanel').toggleClass('selected');

               $('.navPanel').find('img').closest('td').hide(); 

                // The slide out div isn't initially in the DOM and only gets loaded in after the parent click event, hence the timeout function
                // Ugly stepped timer as different browsers load stuff quicker
                setTimeout(function() {
                    // Traverse down the DOM tree structure
                    $('.navPanel').find('img').closest('td').hide();  

                }, 300);

                setTimeout(function() {
                    // Traverse down the DOM tree structure
                    $('.navPanel').find('img').closest('td').hide();  

                }, 700);

                setTimeout(function() {
                    // Traverse down the DOM tree structure
                    $('.navPanel').find('img').closest('td').hide();  

                }, 1000);

            });



            // Clone the table headers
            $(window).bind('scroll', function() {           
        
                var iScrollTop = $(document).scrollTop();

                if ($('tr.header').length) {
                    var positionToStick = $('table.GridEx').offset().top;
                }

                if (iScrollTop > positionToStick) {
                    
                    $('.clonedHeader').show();
                } else {

                    $('.clonedHeader').hide();
                }
                

                console.log('Position to stick is ' + positionToStick);
                console.log('iScrollTop is ' + iScrollTop);

            });


            // Reveal the drop down menu
            $('.js-logonBtn').click(function(e){
                e.preventDefault();
                $('.logonPanel').fadeToggle('fast');
            });

            // Hide the drop down menu when clicking on any element outside the drop down menu
            $('#content, #navigation, .navSelect').click(function(){
                $('.logonPanel').fadeOut('fast');
            });
            

        
        

    </script>
</body>
</html>
