﻿<%@ Page Language="C#" MasterPageFile="~/Masters/Main.Master" AutoEventWireup="true"  Inherits="Eproc2.Web.Content.Core.Administration.AdministrationListPageBase" %>
<%@ Register Src="AttributesListContent.ascx" TagName="AttributesListContent" TagPrefix="ctrl" %>
<%@ Register TagPrefix="spring" Namespace="Spring.Web.UI.Controls" Assembly="Spring.Web" %>

<asp:Content ID="ctnAttributesList" ContentPlaceHolderID="cphMainContent" runat="server">
    <spring:ValidationSummary ID="ItemValidationSummary" runat="server" />
    <ctrl:AttributesListContent ID="ContentControl" runat="server" />
</asp:Content>
