<%@ Control Language="C#" AutoEventWireup="true" Inherits="Eproc2.Web.Content.BM.Catalog.CatalogueProductsItemContent" CodeBehind="CatalogueProductsItemContent.ascx.cs"%>
<%--<qwc:AccountInfoControl ID="pbaAccountControl" runat="server" />--%>
<qwc:ImageActionRepeater ID="ImageActionRepeater" OnCommand="ActionRepeater_OnCommand" runat="server" />
<asp:PlaceHolder ID="plhTabs" runat="server" />
