﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="AttachmentItemContent.ascx.cs" Inherits="Eproc2.Web.Content.Core.Process.WI.AttachmentItemContent" %>
<qwc:ImageActionRepeater ID="ImageActionRepeater" OnCommand="ActionRepeater_OnCommand" runat="server" />
