﻿<%@ Page Language="C#" EnableEventValidation="false" AutoEventWireup="true" Title="Untitled Page" Inherits="Eproc2.Web.Content.Core.Process.WI.WIItem" %>
<head runat="server"/>
<body>
    <form id="Form1" runat="server">
    If you see this page somethig got wrong
    </form>
</body>
