<%@ Control Language="C#" AutoEventWireup="true" Inherits="Eproc2.Web.Content.BM.Process.SO.SOItemContent" CodeBehind="Content/BM/Process/SO/SOItemContent.ascx.cs" %>
<qwc:ImageActionRepeater ID="ImageActionRepeater" OnCommand="ActionRepeater_OnCommand" runat="server" />
<qwc:AccountInfoControl ID="pbaAccountControl" runat="server" />
<asp:PlaceHolder ID="plhTabs" runat="server" />
