﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SOTItemContent.ascx.cs" Inherits="Eproc2.Web.Content.BM.Process.SO.SOTItemContent" %>
<qwc:ImageActionRepeater ID="ImageActionRepeater" OnCommand="ActionRepeater_OnCommand" runat="server" />
<asp:PlaceHolder ID="plhTabs" runat="server" />
