﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/Masters/Main.Master" Inherits="Eproc2.Web.Content.Core.Process.DocumnetsListPageBase" %>
<%@ Register Src="SOTListContent.ascx" TagPrefix="uc" TagName="SOTListContent" %>
<asp:Content ID="Content2" ContentPlaceHolderID="cphMainContent" runat="server">
    <uc:SOTListContent ID="sOTListContent" runat="server" />
</asp:Content>
