<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="BulkSearchContent.ascx.cs" Inherits="Eproc2.Web.Content.Core.Administration.Address.BulkSearchContent" %>
<qwc:ImageActionRepeater ID="ImageActionRepeater" OnCommand="ActionRepeater_OnCommand" runat="server" />
