<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="CreateSingleContent.ascx.cs" Inherits="Eproc2.Web.Content.Core.Administration.Address.CreateSingleContent" %>
<%@ Register TagPrefix="spring" Namespace="Spring.Web.UI.Controls" Assembly="Spring.Web" %>
<qwc:ImageActionRepeater ID="ImageActionRepeater" OnCommand="OnActionExecute" runat="server" />
<asp:PlaceHolder ID="plhTabs" runat="server" />
