﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="PIOItemContent.ascx.cs" Inherits="Eproc2.Web.Content.Core.Administration.PIO.PIOItemContent" %>
<qwc:ImageActionRepeater ID="ImageActionRepeater" OnCommand="ActionRepeater_OnCommand" runat="server" />
