﻿<%@ Page Language="C#" MasterPageFile="~/Masters/FullScreen.Master" AutoEventWireup="true" Inherits="Eproc2.Web.Content.Core.Contract.ContractListPageBase" %>
<%@ Register src="PendingArchiveContractListContent.ascx" tagname="PendingArchiveContractListContent" tagprefix="uc1" %>

<asp:Content ID="Content4" ContentPlaceHolderID="cphMainContent" runat="server">
    <uc1:PendingArchiveContractListContent ID="PendingArchiveContractListContent1" 
        runat="server" />
</asp:Content>
