﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="NewsItemContent.ascx.cs" Inherits="Eproc2.Web.Content.Core.Administration.News.NewsItemContent" %>
<qwc:ImageActionRepeater ID="ImageActionRepeater" OnCommand="ActionRepeater_OnCommand" runat="server" />
