﻿<%@ Page Language="C#" AutoEventWireup="true" EnableEventValidation="false"
Inherits="Eproc2.Web.Content.Core.Administration.Principal.PrincipalBase"%>
<head runat="server"/>
<body>
    <form id="Form1" runat="server">
    If you see this page somethig got wrong
    </form>
</body>
