﻿/* default column styles */
td.columnCell, th.columnHeaderCell { text-align: left;	}
/* items */
table.GridEx .header { background-color: #e4e4e4; border-bottom: 1px solid #d8d8d8; }
table.GridEx .header .dedicated { background-color: #B1B1B1; }

.scheduledImage { background-image:url(Images/schedule-icon.png); background-repeat:no-repeat; background-position:center center; }
tr.isApproved > td.state { background-image: url(Images/tick-green.png); background-position: 6% center; background-repeat: no-repeat; }
