﻿.cntPagination {
    caption-side: bottom;
    text-align: center;
    height: 2.2em;
    padding-top: 6px;
    padding-bottom: 10px;
    font-family: Arial;
    font-size: 12px;
    width: 100%;
}

html > body .cntPagination {
    height: auto;
    min-height: 2.2em;
    background-color: #e7e7e7;
}

    .cntPagination ul {
        display: inline;
        list-style-type: none;
    }

    .cntPagination li {
        display: inline;
        margin: 0;
        padding: 0 0 0 0.5em;
    }

    * html .cntPagination li {
        margin: 0;
        background-position: 0 0.55em;
    }

    *:first-child + html .cntPagination li {
        margin: 0;
        background-position: 0 0.55em;
    }

        .cntPagination li.prev, .cntPagination li.next, .cntPagination li.first {
            background-image: none;
        }

    .cntPagination a {
        color: #000000;
        text-decoration: none;
        line-height: 2.2em;
        padding: 0.3em 0.6em;
    }

        .cntPagination a:hover, .cntPagination a:focus, .cntPagination a:active {
            text-decoration: underline;
        }

    .cntPagination li.prev a {
        padding: 0.3em 0 0 1.1em;
        background: url(images/previouspage.png) transparent no-repeat 0 0.55em;
    }

    .cntPagination li.next a {
        padding: 0.3em 1.1em 0 0;
        background: url(images/nextpage.png) transparent no-repeat 100% 0.55em;
    }

    .cntPagination li.first a {
        padding: 0.3em 0 0 2em;
        background: url(images/firstpage.png) transparent no-repeat 0 0.55em;
    }

    .cntPagination li.last a {
        padding: 0.3em 2em 0 0;
        background: url(images/lastpage.png) transparent no-repeat 100% 0.55em;
    }

    .cntPagination li.pageSize {
        padding: 0 50px 0 0;
    }

    .cntPagination li.navigator input[type=text] {
        text-align: right;
        margin: 0 0 0 1em;
    }

    .cntPagination li.navigator input {
        width: 70px;
    }

    .cntPagination li.pageSize select {
        width: 50px;
    }

    .cntPagination li.navigator {
        padding: 0 80px 0 0;
    }

/* Tree */
.treeItem {
    width: 100%;
    padding: 0.55em 0 0 1.8em;
    background: url(images/blank-document.gif) no-repeat 0 0.55em;
    word-spacing: normal;
}

tr.treeColumnEmpty span.treeItem {
    background-image: none;
}

.treeColumn {
    padding-left: 2em;
    text-align: left;
    word-spacing: 1.5em;
}

/* grid table style */
table.GridEx {
    border: #d8d8d8 1px solid;
    border-collapse: collapse;
    border-bottom-width: 1px;
    border-top-width: 0px;
    text-align: center;
    width: 100%;
    font-size: 12px;
}

    /* common column cells styles */
    table.GridEx td, th {
        padding-left: 5px;
        padding-right: 5px;
        border-bottom-width: 0px;
        border-top-width: 0px;
        vertical-align: middle;
        width: auto;

    }

        /* default column styles */
        td.columnCell, th.columnHeaderCell {
            text-align: left;
        }

        /* action column styles */
        td.actionColumnCell, th.actionColumnHeaderCell {
            text-align: center;
            width: 70px;
            white-space: pre;
        }

td.actionColumnCell {
    white-space: normal;
}

/* check box column styles */
td.checkBoxColumnCell, th.checkBoxColumnHeaderCell {
    text-align: center;
    width: 50px;
}

/* items */

table.GridEx .item,
table.GridEx .alternatingItem {
   border-bottom: 1px solid #e0e0e0;
}

    table.GridEx .item .strong {
        background-color: #dee5ed;
    }

    table.GridEx .item .dedicated {
        background-color: #dee5ec;
    }

.itemhighlight {
    background-color: #BDDEFF;
}

table.GridEx .itemhighlight .dedicated {
    background-color: #aad1f8;
}

.alternatingItemhighlight {
    background-color: #a9cdFF;
}

table.GridEx .alternatingItemhighlight .dedicated {
    background-color: #95bef8;
}

table.GridEx .header {
    background-color: #c1cfdb;
}

    table.GridEx .header .dedicated {
        background-color: #c1cfdb;
    }

    table.GridEx .header a {
        color: Black;
        text-decoration: none;
    }

.highlight {
    opacity: 0.45;
    -moz-opacity: 0.45;
    filter: alpha(opacity=45);
}

table.GridEx a.asc {
    padding: 0.3em 0 0 1.1em;
    background: url(images/sort-asc.gif) transparent no-repeat 0 0.55em;
}

table.GridEx a.desc {
    padding: 0.3em 0 0 1.1em;
    background: url(images/sort-desc.gif) transparent no-repeat 0 0.55em;
}

.clonedHeader { position: fixed; top: 0; margin-right: 10px;}