﻿* { margin: 0; }
body, html { height: 100%; margin: 0px auto; font-size: 14px;}
body {text-align: left; background-color: #f9f9f9; min-width: 500px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; }
.headerBar { padding-bottom: 1px; height: 70px; background-color: white; }
.headerBar div a { color: #064F89; font-size: 14px; font-weight: bold; }
.headerBar div a:hover { color: #3E92C1; font-size: 14px; }
.headerBar img, .navPanel img, .navSelect img { vertical-align: middle; margin: 0px 5px 0px 0px; border: none; }
.lSidebar { width: 220px; float: left; vertical-align: top; }
.rSidebar { vertical-align: top; position: relative; margin-left: 220px; padding-right: 10px; }
#sysMenu { margin-right: 20px; float: right; background-color: #ffffff; vertical-align: bottom; margin-top: 60px; padding: 3px 5px 3px 5px; }
.sysInfo { background-color: #b3b3b3; height: 10px; }
.sysInfo div { padding: 1px 1px 1px 10px; color: #3259A8; }
hr { border: dashed 1px; color: #d1dfea; height: 1px; }

.footer { padding-right: 5px; font-size: 10px; text-align: right; vertical-align: bottom; }

.information { background-color: #ecedef; }

.information .strong { background-color: #dbe0e6; }
.company { color: #0000ff; }
.black { color: Black; }
.actionBar { float: right; color: #10428C; }
.actionBar a { margin-right: 10px;}
.actions { }
.clear { height: 0px; clear: both; float: none; }
.title { font-size: 18px; font-weight: bold; padding: 0px 5px; }


/* NAVIGATION */
.navigation { background-color: #ebeeec; }
.navPanel { overflow: inherit; margin: 0 12px 12px 12px; border: 1px solid #bababa; border-radius: 5px; box-shadow: 0 0 2px 1px rgba(0,0,0,0.1); position: relative;}

.navPanel img { display: none;}
.navPanel td { white-space: inherit !important; line-height: 1.5;}
.navPanel input { width: 170px !important; margin: 10px;}
.navPanel .autocomplete { position: absolute; top: 30px !important; left: 10px !important;}

.topLevelNavPanel { padding: 20px; border-bottom: 1px solid #c8c8c8 !important; display: block; background-color: white;}
.topLevelNavPanel a { font-weight: bold; }
    .topLevelNavPanel.selected { background-color: #f4f4f4; border-bottom: none !important;}

.navPanel > div > div > div { background-color: #f4f4f4; border-bottom: 1px solid #c8c8c8; }
.navPanel > div > div > div table { border-bottom: 1px solid #d9d9d9 !important; display: block !important;}
.navPanel > div > div > div td { white-space: inherit !important; display: block; font-size: 14px; padding: 15px 20px 15px 30px !important;}

.navPanel td span { font-weight:bold;}

/*
.navPanel > div > div > div td:first-child,
.navPanel > div > div > div td:nth-child(2),
.navPanel > div > div > div td:nth-child(3) { display: none;}
*/

.navPanelFull { height: 100%; overflow: inherit; background-color: #ebeeec; }
.navPanel a, .navPanel a:visited { display: block; color: #000000; text-decoration: none; }
.navPanel a:hover { /*  background-color: #FFE88C;     border: solid 1px #afafaf;*/ }
.navSeparator { height: 10px; background-image: url( 'images/nav_separator.png' ); background-repeat: repeat-x; background-position: center; }

.navSelect { padding-left: 220px; padding-top: 12px; margin-bottom: 12px; background-color: #e7e7e7; overflow: hidden; }
.navSelect a { float: left; display: block; padding: 14px 28px; text-decoration: none; color: #000000; margin-right: 12px; font-size: 17px; }
.navSelect a:hover { background-color: #f0f0f0; border-radius: 10px 10px 0 0; }
.navSelect a.selected { font-weight: bold; background-color: #f9f9f9; border-radius: 10px 10px 0 0; }


.contentPanel { overflow: auto;}
.options { margin-left: 0px; }
#search { float: left;}
#search .list { position: fixed; }
#notTreeSearch { padding-left: 3px; position: fixed; top: 175px; left: 20px; }
.error { color: Red; }
.form { width: 100%; text-align: left; }
.subForm { text-align: left; width: 100%; }
.subForm th { border: 0px; font-weight: 900; }
.selectedArea { border-bottom: dashed 1px #dddddd; border-top: dashed 1px #dddddd; }
.warning { font-weight: bold; color: #FF0000; text-transform: uppercase; }
.form td { vertical-align: top; }
table.form > tbody > tr > td { width: 50%; }
.subAddress TD { width: auto; }
.subForm TR { height: 25px; }

.subForm TD { vertical-align: top; padding: 3px 7px 2px 7px; width: auto; }

table.format { width: 100%; border: 0; }

table.format TD { vertical-align: top; padding: 0 10px 0 0; }

TH.caption { font-size: 14px; font-weight: bold; width: 35%; }
TD.caption { width: 35%; font-weight: bold; }

TD.captionNowrap { width: 35%; font-weight: bold; white-space: nowrap; }

TD.formData { width: 65%; }
/*INPUT*/
input.btnCalendar { width: 19px; height: 19px; vertical-align:top;}
input.btnCalendar * {background-color:Transparent;}
input[type=text], textarea, input[type=password] { font-family: Arial,Helvetica,sans-serif; font-size: 12px; width: 225px; border: solid 1px #D6EAF6; border-top-color: #80AEF6; }
select.select, div.select { width: 225px; }
.dropdown { width: 225px; }
input[type=file] { width: 300px; }

input[type=text].short, textarea.short, select.short, input[type=password].short, .short div.select, .short select.select, div.short { width: 115px; }
input[type=text].shortest, textarea.shortest, select.shortest, input[type=password].shortest, .shortest div.select, .shortest select.select, div.shortest { width: 50px; }
.shortest { width: 55px; }
.dedicated { background-color: #d9e0e7; }
/*for tables to add gray background*/
/*TODO: mistake*/
.gray { color: #000000; background-color: #ecedee; }
.grey { color: #000000; background-color: #ecedee; }

.bordered { border: solid 1px #afafaf; }
tr.bordered td:first-child { border-left: solid 1px #afafaf; }
tr.bordered td:last-child { border-right: solid 1px #afafaf; }
tr.bordered td { border-bottom: solid 1px #afafaf; border-top: solid 1px #afafaf; padding: 5px; vertical-align: middle; }
table.bordered td { padding: 5px 20px 5px 20px; vertical-align: middle; }
.borderedAddress { border-left: solid 3px #afafaf; }

tr.borderedAddress td { padding: 5px; vertical-align: middle; }
table.borderedAddress td { padding: 5px; }
.borderedOneRow { border: solid 1px #afafaf; }

.borderedOneRow TD { padding: 5px; padding-left: 10px; padding-right: 10px; vertical-align: middle; }
.bold { font-weight: bold; }

.clearStyle TD { padding: 0px 0px 0px 0px; vertical-align: top; }

/*** ANCHORS ***/
A.whitelink:link, A.whitelink:visited { font-weight: bold; text-decoration: none; color: White; }

A.whitelink:hover { font-weight: bold; text-decoration: none; color: #ffff77; }

A.whitelink:active { font-weight: bold; text-decoration: underline; color: White; }

A.blue:link, A.blue:visited { font-weight: bold; text-decoration: none; color: #084B92; }

A.blue:hover { font-weight: bold; text-decoration: underline; color: #084B92; }

A.blue:active { font-weight: bold; text-decoration: underline; color: #084B92; }

/*Required fields*/
.required span { font-weight: bold; color: Red; }
.highlight { opacity: 0.45; -moz-opacity: 0.45; filter: alpha(opacity=45); }

table.actionbar { width: 100%; border-collapse: collapse; background-color: #eeeeee; }

.hidden { display: none; visibility: hidden; }

.errorContent { text-align: center; width: 100%; height: 50px; }

.errorContent textarea { width: 80%; margin: 20px; height: 120px; }
.login { width: 500px; border: solid 1px #afafaf; margin: 5px 0 5px 0; padding: 20px; background-color: white; border-radius: 10px; }
.login td { vertical-align: baseline; padding: 10px 20px 10px 0; }
.login td input { padding: 5px; border-radius: 5px; border: 1px solid #d4d4d4;}
.right { text-align: right; }

/*account info control*/
.pbaPersonalInfo { background: url('images/default_icon_male.png') no-repeat left; float: left; padding: 10px 5px 0 65px; height: 80px; font-size: 24px; line-height: 3; font-weight: bold; color: #000; }
input[type=text].shortest, textarea.shortest, input[type=password].shortest, div.shortest { width: 20px; }

/********* Popup panel *********/
.popupControl { position: absolute; padding: 0px; display: none; top: 0px; left: 0px; background-color: #ffffff; }
div.popupControl { border: 3px solid #c5c5c5; }
.popupControl h1 { font-size: 14px; }

.popupControl hr { border: 1px solid #c5c5c5; }

.modalBackground { background-color: Gray; opacity: 0.7; -moz-opacity: 0.7; filter: alpha(opacity=70); }
/********* Notification area *********/
.notificationArea { background-color: #dd3121; color: #FFFFFF; font-family: Arial; font-size: 14px; }

.notificationArea .header { font-size: 18px; font-weight: bold; }

.notificationArea a { color: #FFF200; text-decoration: none; }
/*************************************/

div.groupDiv { border-width: 1px; border-color: Gray; border-style: solid; text-align: left; width: auto; margin: 5px; padding: 10px; }

.blue td, .blue input[type=text] { color: #0000FF; }

.red td { color: #FF0000; }

.red { color: #FF0000; }
.green td { color: #009D4B; }

table.netvatgross { border: #ffffff 1px solid; border-collapse: collapse; border-bottom-width: 0px; border-top-width: 0px; text-align: center; background-color: #ecedee; float: right; }
table.netvatgross td { padding-left: 5px; padding-right: 5px; width: 80px; }
table.netvatgross td:first-child { text-align: left; width: 150px; padding-left: 0.5em; font-weight: bold; }
.summary table { width: 50%; float: left; }
.netvatgross td, th { padding: 10px; }
th.total, td.editable { min-width: 80px; width: 80px; }
table.separator { background-color: #f5f6f7; text-align: center; width: 100%; border: #c7d3e0 2px solid; border-left-width: 0px; border-right-width: 0px; }
div.canvas { border-width: 2px; border-color: Gray; border-style: solid; text-align: center; }
table.priceSummary { text-align: center; width: 50%; background-color: #ecedee; }
table.priceSummary td:first-child { text-align: left; padding-left: 0.5em; font-weight: bold; width: 65%; }


.subForm TD.ProductAttachmentsIcon { width: auto; }

.subForm TD.ProductAttachments { vertical-align: middle; width: 100%; }

/*POPUP*/
#win { background-color: #999999; /*visibility:hidden;*/ }
.panel-container.shadow .underlay { background-color: #999999; }
.panel { background: transparent url('images/Popup/xp-brdr-rt.gif') no-repeat scroll right top; border: medium none; overflow: visible; }
.panel .hd { background: transparent url('images/Popup/xp-hd.gif') repeat scroll 0 0; border: medium none; color: #FFFFFF; height: 30px; margin-left: 8px; margin-right: 8px; overflow: visible; padding: 0; text-align: left; vertical-align: middle; }
.panel .hd span { line-height: 30px; vertical-align: middle; }
.panel .close { height: 21px; right: 8px; top: 5px; width: 21px; background-repeat: no-repeat; cursor: pointer; margin: 0; padding: 0; position: absolute; visibility: inherit; z-index: 6; }
.panel .close.nonsecure { background-image: url('images/Popup/xp-close.gif'); }
.panel .close.secure { background-image: url('images/Popup/xp-close.gif'); }

.panel .exclamationIcon { height: 30px; width: 28px; background-image: url('images/Popup/Exclamation.gif'); position: absolute; z-index: 6; width: 30px; display: block; margin: 0; padding: 0; left: 16px; top: 40px; }

.panel .tl { background: transparent url('images/Popup/xp-tl.gif') repeat scroll 0 0; height: 29px; left: 0; position: absolute; top: 1px; width: 8px; }
.panel .tr { background: transparent url('images/Popup/xp-tr.gif') repeat scroll 0 0; height: 29px; position: absolute; right: 0; top: 1px; width: 8px; }
.panel .bl { background: transparent url('images/Popup/xp-bl.gif') repeat scroll 0 0; bottom: 0; height: 4px; left: 0; position: absolute; width: 8px; }
.panel .ft { background: transparent url('images/Popup/xp-ft.gif') repeat scroll 0 0; font-size: 11px; height: 4px; padding: 0 10px; }
.panel .ft span { line-height: 22px; vertical-align: middle; }
.panel .br { background: transparent url('images/Popup/xp-br.gif') repeat scroll 0 0; bottom: 0; height: 4px; position: absolute; right: 0; width: 8px; }
.panel .bd { background: #FFFFFF url('images/Popup/xp-brdr-lt.gif') repeat-y scroll 0 0; border: medium none; margin: 0 4px 0 0; overflow: hidden; padding: 10px; }
.panel .bd .brdr-rt { background: #FFFFFF url('images/Popup/xp-brdr-rt.gif') repeat-y scroll 0 0; bottom: 26px; height: auto; position: absolute; right: 0; top: 29px; width: 4px; }
table.skinny, table.skinny td { border-collapse: collapse; padding: 0 0 0 0; margin: 0 0 0 0; text-align: left; vertical-align: middle; }
hlpBx { border-spacing: 0px; }
.hlpBx td { width: auto; }
.hlpBx p { background-image: url('images/i.gif'); background-repeat: no-repeat; background-position: 15px 10px; line-height: 2; background-color: #F0EFEF; padding: 5px 25px 5px 5px; white-space: nowrap; }
.hlpBxHeadder { font-family: Arial; font-size: 14px; font-weight: bold; color: #333333; padding-left: 45px; }
.hlpBxContent { font-family: Arial; font-size: 12px; color: #4D4D4D; white-space: normal; clear: both; padding-top: 10px; }
img.ImgIcon { cursor: pointer; }

.infoIconTitle { font-family: Arial; font-size: 16px; font-weight: bold; color: #54869C; padding-left: 5px; position: absolute; height: 54px; top: 30px; left: 100px; width: 395px; right: 0px; z-index: 7; }
.infoIconBd { height: 300px; margin: 0px 0px 0px 0px; background-color: #F6F2F2; border: none; overflow: visible; padding: 0px; cursor: auto; }

.infoIconDescription { font-family: Arial; font-size: 14px; text-align: justify; background-color: #F6F2F2; width: 100%; height: 158px; overflow: auto; }

.infoIconDescription textarea { height: 144px; width: 98%; margin: 3px; }

.infoIconHelpLink { font-family: Arial; font-size: 14px; padding-top: 5px; text-align: justify; background-color: #F6F2F2; width: 100%; height: 25px; }

.infoIconHelpLink a { color: Red; }

.infoIconOkButton { text-align: center; background-color: #F6F2F2; width: 100%; margin: 0; padding: 0; height: 40px; }

.infoIconOkButton input { width: 75px; height: 22px; }

.helpbox { background-color: #ecedee; }

div.helpbox { width: 600px; padding: 10px; }

.helpbox .heading { }

.helpbox .headingtext { font-family: Arial; font-size: 14px; font-weight: bold; color: #333333; padding-left: 45px; }

.tdleft { float: left; }

.tdright { float: right; }

.helpbox div.turnoff { padding-top: 20px; padding-left: 5px; }

.helpbox .turnoff a { color: #ed1c24; font-size: 10px; font-family: Arial; text-decoration: none; }

div.popupControl { display: none; }

.accepted { color: #009900; font-weight: bold; white-space: nowrap; }

.rejected { color: #FF0000; font-weight: bold; white-space: nowrap; }

.totalGross { font-weight: bold; color: #2AAAFF; }

#processing {
background-color:#FFFFFF;
line-height:30px;
text-align:center;
}

#securityItems {
    max-height: 495px; 
    overflow-y: auto; 
    overflow-x: hidden;
}

.bvIcon { vertical-align:middle; padding: 20px;}

/*ProviderSettings*/
.imgStoreHeader { max-width: 970px; max-height: 116px;}
.imgStoreLogo { max-width: 250px; max-height: 75px;}
.imgStoreBackground { max-width: 100px; max-height: 100px;}

/*Document Product info popup*/
.qtip { max-width: 400px!important;}
.documentProductsInfoPopup { max-height: 300px;overflow: auto;font-size: 12px;}

/* Pba\FPT\Tabs\FptPaymentDetails: remove icons from the calendar control as it is disabled. */
/* See comments in SC-2839 Add new appointments to SO - Action and Action form UI */
.paymentDetails .ui-datepicker-prev span, .paymentDetails .ui-datepicker-next span {
    background-image: none;
}


/* jQuery UI MultiDatesDatepicker CSS rules */
/* (see SC-2839 Add new appointments to SO - Action and Action form UI) */

/* Moving pixels fix (as recommended on http://multidatespickr.sourceforge.net/) */
.multidatespicker table.ui-datepicker-calendar {border-collapse: separate;}
.multidatespicker .ui-datepicker-calendar td {border: 1px solid transparent;}

/* Do not emphasize active cell (to avoid confusion with selected cells). */
/* These rules are copied from the default CSS for non-active cells */
.multidatespicker a.ui-state-active, .multidatespicker a.ui-state-highlight {
    border: 1px solid #cccccc;
    background: #f6f6f6 url(images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x;
    color: #1c94c4;
}

/* Display marked cells according to the design template (yellowish) */
.multidatespicker .marked .ui-state-default {
    border: 1px solid #fbd850;
    background: #ffe45c url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
    color: #eb8f00;
}

/* Display marked cells according to the design template, despite that they are disabled */
.multidatespicker .marked {
    opacity: 1;
    filter: none;
}

/* Emphasize selected dates */
.multidatespicker .ui-state-highlight a {
    background: #C25044 none; /* a color that fits the widget theme */
    color: white; /* a color that is readeable with the color above */
}


/* Tab override */
.ajax__tab_header { background-image: none !important; background-color: #e7e7e7 !important; border-radius: 10px 10px 0 0; padding: 10px 0 0 0; overflow: hidden;}

.ajax__tab_header > span { border-radius: 10px 10px 0 0; margin: 0 0 0 10px; float: left;}
.ajax__tab_header > span.ajax__tab_active { background-color: white; }
.ajax__tab_header > span:hover { background-color: #f0f0f0;}
.ajax__tab_xp .ajax__tab_outer { background-image: none !important; padding-right: 0 !important; height: inherit !important;}
.ajax__tab_xp .ajax__tab_inner { background-image: none !important; padding-left: 0 !important; height: inherit !important;}
.ajax__tab_xp .ajax__tab_tab { background-image: none !important;  padding: 10px 20px !important; display: block;  margin: 0 !important; height: inherit !important; font-size: 15px;}

/* Content overdie */
.ajax__tab_xp .ajax__tab_body { border-color: #e7e7e7 !important; padding: 10px !important; margin-bottom: 20px;}
