﻿.clearStyle { white-space:nowrap; }
.userMenu { display: inline; position: relative; color: #231F20; vertical-align: 5px; }
div.grey { background-color: #ecedee; }
.userMenu a { font-family: Arial; font-size: 12pt; font-weight: normal; }

.bvSelectorLink { text-align: left; white-space: nowrap; background-color: #FFFFFF; display: inline; }
.bvSelectorLink a { text-decoration: none; }
.bmSysMenu { display: inline; float: left; margin-right: 250px; padding-right: 5px; position: relative; text-align: right; top: 20px; font-weight: bold; }
.breadcrumb { padding: 5px; float: left; position: absolute; bottom: 0px; }
.breadcrumb .black { font-weight: bold; }
.vwLogo { height: 45px; width: 144px; background-image: url('images/logo.PNG'); background-repeat: no-repeat; background-color: Transparent; position: relative; z-index: 6; display: block; margin: 12px 0 0 45px; padding: 0; }
.bmLogoTitle { padding-left: 5px; position: absolute; height: 54px; top: 30px; left: 100px; width: 395px; right: 0px; z-index: 7; }



.headerPanel { width: 100%; float: right; }
.headerBar div a { font-family: Arial; font-weight: normal; color: #3259A8; }
.headerBar .bmSysMenu A { font-weight: bold; }
.headerBar div a:hover { color: inherit; }
.headerBar img, .navPanel img, .navSelect img { vertical-align: inherit; margin: inherit; border: inherit; }

.logonBtn { position: absolute; right: 20px; top: 20px; padding: 10px 20px; border-radius: 5px; background-color: #e2e2e2; display: block;}
.logonBtn:hover { cursor: pointer;}

.logonPanel { z-index: 2000; display: none; background-color: white; position: absolute; right: 20px; top: 65px; border: 1px solid #bababa; border-radius: 5px; box-shadow: 0 0 2px 1px rgba(0,0,0,0.1); min-width: 170px; }
.logonPanel a { display: block; padding: 20px; border-bottom: 1px solid #d9d9d9; text-decoration: none; color: black !important; font-weight: bold !important;}



.sysInfo { background-image: url('images/001-OrangeGradient.jpg'); }
#searchtable { border-collapse:collapse ; margin-top:1px;}
#searchtable td { padding: 0px; padding-right: 1px; }
.actionBar { color: #10428C;}
.infoIconDescription { background-color: Transparent; padding-left: 20px; padding-right: 20px; height: 115px; }
.infoIconDescription TEXTAREA { width: 90%; height: 100px; }
.infoIconTitle { color: Black; padding-top: 20px; }
.infoIconTitle h6 { font-size: 12px; font-weight: normal; }
.closeInfoIcon { float: right; margin: 4px; }
.infoIconBd { background-image: url('images/pop-up-gradient.jpg'); background-color: Transparent; border: solid 3px #949293; }
.infoIconOkButton { background-color: Transparent; }
.infoIconHelpLink { background-color: Transparent; }
.resetStoredListContext{ margin: 2px;float: right;}
#pbaSearch { vertical-align: bottom; padding: 40px 0 0 60px; z-index: 1000; top: 0; position: absolute; }
/* catalogue basket summary */
.basketSummary { float: right; font-weight: bold; width: 217px}
.basketSummary td { padding-left: 9px; padding-right: 9px; }
.basketSummary .Header { background-image: url('images/my_basket_logo.png'); height: 31px; color: White; }
.basketSummary .InfoRow { background-color: #F3F3F3; }
.floatLeft { float: left; }
.basket_sp_name { color: #064F89; font-size: 16px; font-weight: bold; }
.soMainTabSectionHeader { vertical-align: middle; }
.soMainTabSectionContent { padding: 10px 10px 10px 10px; }
table.netvatgross td { padding-left: 0px; padding-right: 0px; width: 80px; }
th.total { min-width: 62px; width: 62px; }
td.editable { min-width: 80px; width: 80px; }
/*pba calendar*/
.pbaCalendar { width: 100%; }
.pbaCalendar td.time { width: 25%; }
.pbaCalendar tr.calendarDayHeader { font-weight: bold; background-color: #B2B2B2; }
.pbaCalendar tr.alternatingItem { background-color: #EAEAEA; height: 25px; }
.pbaCalendar tr.item { background-color: #F3F3F3; height: 25px; }

div.profileAreaHeader
{
	min-height:45px;
}
tr.profileRowHeader { font-weight: bold; }
tr.profileRowHeader td { padding-left: 0px; }
div.profileAreaHeader { width: 50%; background-color: #B2B2B2; padding-left: 3px; height: 25px; line-height: 25px; }
div.profileAreaIcon  {float: left; width: 36px; height: 40px; }
div.profileAreaName { float: none; }
.pbaCalendar div.profileAreaHeader div.calendarAreaIcon  {background: transparent url(Images/calendar-area.png) repeat-x scroll 0 5px; }
.pbaCalendar div.profileAreaHeader div.statementAreaIcon {background: transparent url(Images/statement-area.png) repeat-x scroll 0 5px; }
.pbaCalendar div.profileAreaHeader div.statutoryAreaIcon {background: transparent url(Images/statutory-area.png) repeat-x scroll 0 5px; }
.pbaCalendar div.profileAreaHeader div.documentAreaIcon {background: transparent url(Images/document-area.png) repeat-x scroll 0 5px; }

/*Processed Basket items Box*/
div.BasketItemsProcessedBox { background-color: #EEF2F6; width: 650px; }
div.BasketItemsProcessedBoxText { text-align:center; width: 100%; }
div.BasketItemsProcessedBoxLogo { width: 55px; height: 55px; background: transparent url(Images/basketMessageLogo.png); }

#search-fullscreen { margin-left: 3px; position: fixed; height: 30px; top: 170px; left : 5px }

.totalGrossUnder { font-weight: bold; font-weight:normal; text-align: center; }

.cellsCentered td {text-align:center;}
.cellsCentered th {text-align:center;}
.comment { font-style: italic; }
.caption { margin-top:10px;}

/*ProviderSettings*/
.imgStoreHeader { max-width: 970px; max-height: 116px;}
.imgStoreLogo { max-width: 250px; max-height: 75px;}
.imgStoreBackground { max-width: 100px; max-height: 100px;}