﻿/* Business cards */
td.businessCard { padding: 8px; }
.businessCard { font-family: Arial; font-weight: normal; }
.businessCard table { width: 100%; }
.businessCard tr { height: 100%; }
.businessCard td { padding: 10px; font-size: 12px; }
.businessCard td.header { padding-top: 0px; padding-bottom: 0px; }
.businessCard h1 { font-size: 24px; margin-top: 8px; margin-bottom: 8px; padding: 0px; font-weight: normal; font-weight: bold; color: #000000; }
.businessCard .strong { font-weight: bold; }
.businessCard a { color: #3259A8; text-decoration: none; }
.businessCard .pbm { background-color: #eff3f7; }
.businessCard .organisation { font-size: 10px; font-weight: bold; }
img.logo { width: 100px; height: 100px; }
.header h1 { font-weight: normal; color: #ffffff; }
/* Individual */
td.individual { border-color: #eff3f7; border-width: thin; }
td.individual .header { background-color: #4A69B4; }
/* Local authority */
td.localAuthority { border-color: #eff3f7; border-width: thin; }
td.localAuthority .header { background-color: #f72c31; }
/* Service provider */
td.serviceProvider { border-color: #eff3f7; border-width: thin; }
td.serviceProvider .header { background-color: #f77129; }
/* Support Team */c td.supportTeam { border-color: #eff3f7; border-width: thin; }
td.supportTeam .header { background-color: #4A69B4; }
/* Popup */
.businessCardPopup div.module_overlay { width: 555px; }
.businessCardPopup table { width: 100%; }
/* -------------- */
/* Folder */
.folder { background-color: #ebecee; border-style: solid; border-width: 1px; border-color: #bebebe; padding-left: 10px; padding-right: 10px; }
span.folder { color: #3259A8; font-family: Arial; font-size: 10pt; }
.folderContent { padding-top: 20px; padding-bottom: 20px; }
/* -------------- */
/* PBA Profile */
.number { color: #3259A8; text-decoration: none; font-weight: normal; }
/* -------------- */
/* Notifications */
.notificationArea.individual { background-color: #ffe0ca; }
.notificationArea.support { background-color: #d9e4fd; }
.notificationArea a { color: #0e0eff; text-decoration: none; }
.notificationArea { color: #000000; }
/* -------------- */
td.row { width: 100%; }
.row > * { float: left; white-space: nowrap; }
div.row { width: 100%; white-space: nowrap; }
.dateTimeSelector { padding-left: 20px; padding-right: 20px; }
#pbaArchivedFilter { height: 30px; margin-left: 560px; position: relative;}
.notificationArea.pbaConfirm { background-color: #DD3121; font-weight: bold; }
.notificationArea.pbaConfirm a, .notificationArea.pbaConfirm a:hover, .notificationArea.pbaConfirm a.selected { color: Yellow; }
/*BankAccount grid*/
.bankAccount > tbody > tr.alternatingItemhighlight { background-color: #eaeaea; font-weight: bold; }
.bankAccount > tbody > tr.itemhighlight { background-color: #f3f3f3; font-weight: bold; }
.bankAccount > tbody > tr[disabled="disabled"].itemhighlight { background-color: #f3f3f3; font-weight: bold; }

img.smallArrow { width: 20px; height: 20px; }
/* PO Wizard */
table.orderTotal { width: 30%; margin-right: 20px; }
table.orderTotal div:first-child { color: #376aa6; font-weight: bold; }
/*Budget statement*/
table.bsForm { border-collapse: collapse; }
.bsForm td { vertical-align: middle; }
#bsFilter { padding: 44px 0 0 50px; top: 0; position: absolute; white-space: nowrap; z-index: 1000; }
#bsFilter > input[type=radio] { margin-left: 10px; }
#bsFilter > * { display: inline-block; float: left; }
span.moneyIn { background: transparent url(Images/moneyIn.gif) no-repeat right center; padding-right: 25px; }
span.moneyOut { background: transparent url(Images/moneyOut.gif) no-repeat right center; padding-right: 25px; }
th.moneyIn { background-image: url(Images/moneyIn.gif); background-position: 64% center; background-repeat: no-repeat; padding-right: 20px; }
th.moneyOut { background-image: url(Images/moneyOut.gif); background-position: 64% center; background-repeat: no-repeat; padding-right: 20px; }
tr.reconciled > td.due { background-image: url(Images/reconciled.png); background-position: 6% center; background-repeat: no-repeat; }
table.GridEx td.due { padding-left: 30px; }
tr.notreconciled > td.moneyIn { color: green; }
tr.notreconciled > td.moneyOut { color: red; }
a.collapsed.bst { background: url(Images/plus.gif) no-repeat left center; padding-left: 20px; }
a.expanded.bst { background: url(Images/minus.gif) no-repeat left center; padding-left: 20px; }
/* BM wizard common */
.wizard_header { position: fixed; top: 230px; padding-left: 10px; }
/* Hidden column */
.hidden-column { display: none; }

/*Fpt.currentFunding*/
table.currentFunding tr > td.flag { width: 30px; }
table.currentFunding tr.flag > td.flag { background-image: url(Images/flag.gif); background-repeat: no-repeat; background-position: center; }

.notificationImageColumn {width: 50px;}