﻿td.indent { text-indent: 10px; }
td.doubleindent { text-indent: 20px; }
/********* Welcome page*********/
.welcome h3 { margin: 20px; font-family: Arial; font-weight: bold; font-size: 20px; color: #000000; }
.welcome h4 { margin: 20px; font-size: 16px; }
.welcome ano { font-family: Arial; font-weight: bold; color: #04508a; }
.welcome div { margin: 20px; font-family: Arial; font-size: 12px; }
/*******************************/
/**********Terms************/
.module_overlay { visibility: inherit; width: 50em; }
/***************************/
/********* Reports *********/
.report { width: 100%; height: 100%; }
/***************************/
/********* News *********/
.news { font-family: Arial; color: #000000; font-size: 12px; }
.news .header { font-weight: bold; font-size: 16px; color: #064F89; }
.news .detail { padding-top: 20px; padding-bottom: 20px; }
.news a { color: #064F89; }
div.newsitem { width: 100%; }
#search select {width: 176px;}
#search INPUT[type=text] {width: 176px;}

#searchFilter .select select { width: 225px; }
#searchFilter .list select {width: auto;}

/********* IR messages *********/
.irmessage
{
    margin-left: 1em;
    margin-right: 1em;
    margin-top: .3em;
    margin-bottom: .3em;
    width: 60%;
    min-width: 200px;
    padding: 0.3em;
}

    .irmessage.irright
    {
        background-color: #eadcb3;
        float: right;
    }
    .irmessage.irleft
    {
        background-color: #c9c3b2;
        float: left;
    }
/***************************/
/*InformationRequests grid*/
.informationRequest > tbody > tr.alternatingItemhighlight { background-color: #eaeaea; font-weight: bold; }
.informationRequest > tbody > tr.itemhighlight { background-color: #f3f3f3; font-weight: bold; }