﻿<%@ Page Language="C#" MasterPageFile="~/Masters/Empty.Master" AutoEventWireup="true" CodeBehind="DefaultCatalogue.aspx.cs" Inherits="Eproc2.Web.Content.Core.Catalog.DefaultCatalog" Title="Untitled Page" %>
<%@ Register src="DefaultCatalogueContent.ascx" tagname="DefaultCatalogueContent" tagprefix="uc1" %>
<asp:Content ID="DefaultCatalogue" ContentPlaceHolderID="cphMainContent" runat="server">
    <uc1:DefaultCatalogueContent runat="server" />
</asp:Content>
