﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Masters/Reports.Master" AutoEventWireup="true"
    CodeBehind="Reports.aspx.cs" Inherits="Eproc2.Web.Content.Core.Reports.Reports" %>

<asp:Content ContentPlaceHolderID="cphMainContent" runat="server">
    <iframe id="frame" class="report" runat="server"></iframe>
</asp:Content>
