﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Eproc2.Web.Framework.Controls.EntityControlBase" %> 
<qwc:ImageActionRepeater ID="ImageActionRepeater" OnCommand="ActionRepeater_OnCommand" runat="server" />
