﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="AdvancedSearchContent.ascx.cs" Inherits="Eproc2.Web.Content.Core.Search.AdvancedSearchContent" %>
<qwc:ImageActionRepeater ID="ImageActionRepeater" OnCommand="ActionRepeater_OnCommand" runat="server" />
<asp:PlaceHolder ID="plhTabs" runat="server" />
