﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Masters/FullScreen.Master" AutoEventWireup="true" CodeBehind="AdvancedSearch.aspx.cs" Inherits="Eproc2.Web.Content.Core.Search.AdvancedSearch" %>
<%@ Register src="AdvancedSearchContent.ascx" tagname="AdvancedSearchContent" tagprefix="uc1" %>

<asp:Content ID="Content2" ContentPlaceHolderID="cphMainContent" runat="server">
    <uc1:AdvancedSearchContent ID="AdvancedSearchContent1" runat="server" />
</asp:Content>
