﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Masters/FullScreen.Master" AutoEventWireup="true" Inherits="Eproc2.Web.Content.Core.Search.SearchResultPageBase" %>
<%@ Register src="DocumentSearchResultContent.ascx" tagname="DocumentSearchResultContent" tagprefix="uc1" %>
<asp:Content ID="Content2" ContentPlaceHolderID="cphMainContent" runat="server">
    <uc1:DocumentSearchResultContent ID="DocumentSearchResultContent1" runat="server" />
</asp:Content>
