﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Masters/FullScreen.Master" AutoEventWireup="true"  Inherits="Eproc2.Web.Content.Core.Search.SearchResultPageBase" %>
<%@ Register src="OrganisationSearchResultContent.ascx" tagname="OrganisationSearchResultContent" tagprefix="uc1" %>
<asp:Content ID="Content2" ContentPlaceHolderID="cphMainContent" runat="server">
    <uc1:OrganisationSearchResultContent ID="OrganisationSearchResultContent1" runat="server" />
</asp:Content>
