﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Masters/FullScreen.Master" AutoEventWireup="true" Inherits="Eproc2.Web.Content.Core.Search.SearchResultPageBase" %>
<%@ Register src="ProductSearchResultContent.ascx" tagname="ProductSearchResultContent" tagprefix="uc1" %>

<asp:Content ID="Content2" ContentPlaceHolderID="cphMainContent" runat="server">
    <uc1:ProductSearchResultContent ID="ProductSearchResultContent1" runat="server" />
</asp:Content>
