﻿<%@ Page Language="C#" MasterPageFile="~/Masters/Main.Master" AutoEventWireup="true"
    Inherits="Eproc2.Web.Content.Core.Process.DocumentPageBase" Title="Untitled Page" %>
<%@ Register Src="~/Content/Core/Process/INV/InvoiceItemContent.ascx" TagName="ContentItem"
    TagPrefix="uc1" %>
<%@ Register TagPrefix="spring" Namespace="Spring.Web.UI.Controls" Assembly="Spring.Web" %>
<asp:Content ID="Content2" ContentPlaceHolderID="cphMainContent" runat="server">
    <spring:ValidationSummary ID="ItemValidationSummary" runat="server" />
    <uc1:ContentItem ID="ContentControl" runat="server" />
</asp:Content>
