﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="HOItemContent.ascx.cs" Inherits="Eproc2.Web.Content.Core.Administration.Organisation.HOItemContent" %>
<qwc:ImageActionRepeater ID="ImageActionRepeater" OnCommand="ActionRepeater_OnCommand" runat="server" />
<asp:PlaceHolder ID="plhTabs" runat="server" />
