﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="OrganisationBase.aspx.cs" Inherits="Eproc2.Web.Content.Core.Administration.Organisation.OrganisationBase" %>
<head id="Head1" runat="server"/>
<body>
    <form id="Form1" runat="server">
    If you see this page somethig got wrong
    </form>
</body>
