﻿<%@ Page Language="C#" MasterPageFile="~/Masters/Main.Master" AutoEventWireup="true" CodeBehind="Administration.aspx.cs" Inherits="Eproc2.Web.Content.Core.Administration.Administration" %>
<%@ Register src="AdministrationContent.ascx" tagname="AdministrationContent" tagprefix="uc1" %>
<asp:Content ContentPlaceHolderID="cphMainContent" runat="server">
    <uc1:AdministrationContent ID="AdministrationContent1" runat="server" />
</asp:Content>
