﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="AttachmentFormContent.ascx.cs" Inherits="Eproc2.Web.Content.BM.Pba.AttachmentFormContent" %>
<%@ Register TagPrefix="spring" Namespace="Spring.Web.UI.Controls" Assembly="Spring.Web" %>
<qwc:ImageActionRepeater ID="ImageActionRepeater" OnCommand="ActionRepeater_OnCommand" runat="server" />
 <spring:ValidationSummary ID="ItemValidationSummary" runat="server" />