﻿<%@ Page Language="C#" MasterPageFile="~/Masters/Main.Master" AutoEventWireup="true" Inherits="Eproc2.Web.Content.BM.Pba.PbaPageBase" Title="Untitled Page" %>
<%@ Register src="~/Content/BM/Pba/AttachmentFormContent.ascx" tagname="AttachmentFormContent" tagprefix="fuc" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphMainContent" runat="server">

    <fuc:AttachmentFormContent ID="AttachmentFormContent" runat="server" />

</asp:Content>
