﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ApprovalRuleUserItemContent.ascx.cs" Inherits="Eproc2.Web.Content.Core.Administration.ProcessSetup.ApprovalRules.ApprovalRuleUserItemContent" %>
<qwc:ImageActionRepeater ID="ImageActionRepeater" OnCommand="ActionRepeater_OnCommand" runat="server" />
