﻿<%@ Page Language="C#" MasterPageFile="~/Masters/Main.Master" AutoEventWireup="true" CodeBehind="FileUpload.aspx.cs" Inherits="Eproc2.Web.Files.FakeFileUpload" Title="Untitled Page" %>
<%@ Register src="FileUploadContent.ascx" tagname="FileUploadContent" tagprefix="fuc" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphMainContent" runat="server">

    <fuc:FileUploadContent ID="FileUploadContent" runat="server" />

</asp:Content>

