<%@ Control Language="C#" AutoEventWireup="true" Inherits="Eproc2.Web.Framework.Controls.EntityControlBase" %> 
<%-- TODO-VLU: Eproc2.Web.Framework.Controls.ItemContentControlBase was generated--%> 
<%--Eproc2.Web.Content.Core.Administration.AdministrationContent--%>
<qwc:ImageActionRepeater ID="ImageActionRepeater" OnCommand="ActionRepeater_OnCommand" runat="server" />
