﻿<%@ Page Language="C#" MasterPageFile="~/Masters/Main.Master" AutoEventWireup="true" CodeBehind="BcgHistoryItem.aspx.cs" Inherits="Eproc2.Web.Content.Core.Administration.BCG.BcgHistoryItem" Title="Untitled Page" %>
<%@ Register src="BcgHistoryItemContent.ascx" tagname="BcgHistoryItemContent" tagprefix="uc1" %>
<asp:Content ID="cntBcgHistoryItem" ContentPlaceHolderID="cphMainContent" runat="server">
    <uc1:BcgHistoryItemContent ID="BcgHistoryItemContent" runat="server" />
</asp:Content>
