﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="BCGItemContent.ascx.cs" Inherits="Eproc2.Web.Content.Core.Administration.BCG.BCGItemContent" %>
<qwc:ImageActionRepeater ID="ImageActionRepeater" OnCommand="ActionRepeater_OnCommand" runat="server" />
