<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="BcgWizardContent.ascx.cs" Inherits="Eproc2.Web.Content.Core.Administration.BCG.BcgWizardContent" %>
<qwc:ImageActionRepeater ID="ImageActionRepeater" OnCommand="ActionRepeater_OnCommand" runat="server" />
<asp:PlaceHolder ID="plhTabs" runat="server" />
