﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Breadcrumb.ascx.cs" Inherits="Eproc2.Web.Controls.Core.Breadcrumb" EnableViewState="false" %>
<span class="black"><asp:Literal ID="lblYAH" runat="server" Text="<%$ Resources:SR,YouAreHere %>" />:&nbsp;</span>
