﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Masters/FullScreen.Master" AutoEventWireup="true" Inherits="Eproc2.Web.Content.Core.Process.DocumnetsListPageBase" %>
<%@ Register src="AddInvoiceContent.ascx" tagname="AddInvoiceContent" tagprefix="uc1" %>
<asp:Content ID="Content3" ContentPlaceHolderID="cphMainContent" runat="server">
    <uc1:AddInvoiceContent ID="ContentControl" runat="server" />
</asp:Content>
