﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Masters/Main.Master" AutoEventWireup="true"
    Inherits="Eproc2.Web.Content.Core.Reports.Reports" %>

<asp:Content ContentPlaceHolderID="cphMainContent" runat="server">
    <iframe id="frame" class="report" runat="server"></iframe>
</asp:Content>
