﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ApprovalProcedureItemContent.ascx.cs" Inherits="Eproc2.Web.Content.Core.Administration.ProcessSetup.ApprovalProcedures.ApprovalProcedureItemContent" %>
<%@ Register TagPrefix="spring" Namespace="Spring.Web.UI.Controls" Assembly="Spring.Web" %>
<qwc:ImageActionRepeater ID="ImageActionRepeater" OnCommand="ActionRepeater_OnCommand" runat="server" />
