<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ContractProperties.ascx.cs" Inherits="Eproc2.Web.Content.Core.Contract.Tabs.ContractProperties" %>
<%@ Register src="~/Controls/Core/HelpBox.ascx" tagname="HelpBox" tagprefix="uc" %>
<uc:HelpBox runat="server" HelpBoxId="3a68de08-6ccf-49c3-bc54-d9b2fee0f29d" />
